<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/reset.css?v=555" />
		<link rel="stylesheet" href="../../css/active.css?v=333" />
		<link rel="stylesheet" href="../../css/weui.min.css" />
		<link rel="stylesheet" href="../../css/jquery-weui.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/swiper.min.css" />
		<script type="text/javascript" src="../../js/libs/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../../js/widget/swiper.min.js"></script>
		<script type="text/javascript" src="../../js/libs/template.js"></script>
		<script type="text/javascript" src="../../js/base/siteConfigUrl.js"></script>
		<script type="text/javascript" src="../../js/widget/jquery-weui.js"></script>
		<script type="text/javascript" src="../../js/widget/ajax.js"></script>
		<script type="text/javascript" src="../../js/widget/render.js"></script>
		<script type="text/javascript" src="../../js/common/active/index.js"></script>
		<title>活动商品详情</title>
		<style>
		.d_fenlei>ul li {
 			margin-right: 25px;
		}
		</style>
		<body>
			
			<div class="swiper-container">
				<div class="swiper-wrapper"></div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
			<div class="d_contant2" style="background:#FFFFFF;border-top:1px solid #CCC;">
			
			</div>

    
			<div class="item-active">
					
			
			</div>
            <div id="item_desc">
				<ul class="d_show">
					
				</ul>
            </div>
			<div class="d_footer1">
				<ul class="d_fl">
					<a href="../cats/cats.html">
						<li>
							<p class="icon"><i class="iconfont icon-shangpin"></i></p>
							<p>所有商品</p>
						</li>
					</a>
					<a href="../order/order_list.html">
						<li>
							<p class="icon"><i class="iconfont icon-wode" style="font-size:20px"></i></p>
							<p>我的</p>
						</li>
					</a>
				</ul>
			</div>
			<div class="d_zhe"></div>
			<div class="d_tan"></div>
			<script type="text/javascript">
				var url=siteConfig.item_detail;
				getDate(url,'new Item')
			</script>
		</body>

</html>