<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/swiper.min.css" />
		<script type="text/javascript" src="../../js/libs/jquery.js"></script>
		<script type="text/javascript" src="../../js/widget/swiper.min.js"></script>
		<script type="text/javascript" src="../../js/libs/template.js"></script>
		<script type="text/javascript" src="../../js/base/siteConfigUrl.js"></script>
		<script type="text/javascript" src="../../js/base/render.js"></script>
		<script type="text/javascript" src="../../js/common/item.js"></script>
		<script type="text/javascript" src="../../js/base/rem.js"></script>
		<title>商品详情</title>
		<style>
		.d_fenlei>ul li {
 			margin-right: 25px;
		}
		</style>
		<body>
			<div class="swiper-container">
				<div class="swiper-wrapper"></div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
			<div class="item-content-html">
			</div>
			<ul class="d_show">
				
			</ul>
			<div class="d_footer1">
				<ul class="d_fl">
					<li>
						<a href="../cats/cats.html">
							<p class="icon"><i class="iconfont icon-shangpin" style="font-size:0.8rem"></i></p>
							<p>所有商品</p>
						</a>
					</li>
					<li>
						<a href="../order/order_list.html">
							<p class="icon"><i class="iconfont icon-wode" style="font-size:0.8rem"></i></p>
							<p>我的</p>
						</a>
					</li>
					<li>
						
					</li>
				</ul>
			</div>
			<div class="d_zhe"></div>
			<div class="d_tan"></div>
		</body>

</html>