/*初始化样式*/
div,
a,
h4
img,
button,
input,
textarea,
span,
ul,
li {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
div,
form,
img,
ul,
ol,
li,
dl,
dt,
dd,
p {
	margin: 0;
	padding: 0;
	border: 0;
}
/*

input {
	-webkit-appearance: none;
}*/

body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

div,
form,
img,
ul,
ol,
li,
dl,
dt,
dd,
p,
h3{
	margin: 0;
	padding: 0;
	border: 0;
}

li,
dl {
	list-style-type: none;
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}
.clear {
	clear: both;
}
.imgone {
	border: #CCCCCC 1px solid;
	padding: 3px;
}

.clearfix {
	clear: both;
}


.display-none {
	display: none;
}

.fl {
	float: left
}

.fr {
	float: right
}

.base-color {
	color: #ff5000;
}

.color-3 {
	color: #333333;
}

.color-6 {
	color: #666666;
}

.color-9 {
	color: #999999;
}

.display-none{
    display:none;
}
.active_{
	color: #FF5000!important;
    border-color: #FF5000 !important;
}
/*登录页面*/


.main-cover {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #EEEEEE;
	font-size: 0.7rem;
}

.bg-white {
	background: #ffffff;
}

.bg-e {
	background: #eeeeee
}

.order-user {
	padding: 0.2rem 0.6rem 0.2rem
}

.order-user p {
	font-size: 0.6rem;
	color: #333333;
}

.order-user .order-user-msg {
	width: 100%;
	height: 2.0rem;
	position: relative;
	border-bottom: 1px solid #ccc
}

.order-user .order-user-msg .tip {
	width: 0.9rem;
	height: 2rem;
	background: url(../img/iconfont-address.png) center center no-repeat;
	background-size: 80%;
	margin-right: 0.4rem;
}

.order-user .order-user-msg .title {
	width: 5rem;
	height: 2rem;
	line-height: 1.9rem;
	font-size: 0.73rem;
}

.order-product {
	border-bottom: 0px;
	margin-bottom: 10px;
}

.order-product-name {
	font-size: 0.7rem;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.order-product-dec {
	font-size: 0.6rem;
	color: #999999;
	margin-top: 10px;
}

.order-product-dec .num {}

.order-status {
	padding: 0.3rem 0.4rem 2.5rem;
}

.order-status-msg {
	margin-top: 10px;
	padding: 0.4rem 0.6rem;
}

.order-status-tip {
	padding: 0.2rem;
	height: 2rem;
}

.order-status-tip .tip-1-0 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-10.png) center center no-repeat;
	background-size: 100%;
}

.order-status-tip .tip-1-1 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-11.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .tip-2-0 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-20.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .tip-2-1 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-21.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .tip-3-0 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-30.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .tip-3-1 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-31.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .tip-4-0 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-40.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .tip-4-1 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-41.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .tip-5-0 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-50.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .tip-5-1 {
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-51.png) center center no-repeat;
	background-size: 100%;
}

.order-status-tip .active{
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/iconfont-icon-11.png) center center no-repeat;
	background-size: 100%;
}
.order-status-tip .title {
	width: 5rem;
	height: 1.8rem;
}

.order-status-tip .info {
	margin-left: 1.4rem;
	height: 1.6rem;
	position: relative;
}

.order-status-tip .info .triangle {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: -8px;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	border-bottom: 8px solid #eeeeee;
	border-top: 8px solid #eeeeee;
	border-left: none;
	border-right: 8px solid #ffffff;
}

.order-status-tip .info .article {
	width: 9.5rem;
    height:1rem;
	float: left;
	color: #000;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0.3rem 0.5rem;
	background: #eee;
	border-radius: 5px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
	background-image: -moz-linear-gradient(center top, #ffffff, #ffffff);
	background-image: linear-gradient(top, #ffffff, #ffffff);
}

.order-status-tip-bar {
	height: 0.8rem;
	position: relative;
}
.order-status-tip-bar1 {
	height: 0.8rem;
	position: relative;
}
.order-status-tip-bar:after {
	content: '|';
	position: absolute;
	left: 0.95rem;
	font-size: 0.8rem;
	color: red;
	top: -0.35rem;
}
.order-status-tip-bar1:after {
	content: '|';
	position: absolute;
	left: 0.95rem;
	font-size: 0.8rem;
	color: #999999;
	top: -0.35rem;
}
.submit-bar {
    width: 100%;
    height: 1.2rem;
    position: fixed;
    bottom: 0px;
    padding: 0.45rem 0 0.9rem;
    border-top: 1px solid #CCC;
}

.submit-bar .btn {
    line-height: 1.3rem;
    text-align: center;
    width: 3rem;
    height: 1.3rem;
    padding: 0rem 0.4rem;
    border-radius: 10px;
    border: 1px solid #000;
    margin-right: 0.6rem;
}

.submit-bar .btn:nth-child(1) {
	color: #ff5000;
}

/*商品块*/
.d_container2{background: #FFFFFF;}
.show-item{width:48%;float: left;border-bottom: 1px solid #ccc;color: #333333;overflow: hidden;font-size: 0.55rem;margin-bottom: 1px;}
.show-item:nth-child(odd){margin-left:2%;border-right: 1px solid #ccc}
.show-item .img{width:100%;height:5.1rem;text-align: center;overflow: hidden;}
.show-item .img img{width:65%;}
.show-item .title{height:1.3rem;line-height: 130%;width: 90%;margin: 0 auto;overflow: hidden;text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.show-item .price{height:1.1rem;width: 90%;margin: 0 auto;color:#FF5000;line-height: 1.1rem;}
.show-item .price span{color: #999999;text-decoration: line-through;margin-left: 0.5rem;font-size: 0.45rem;}
.items-content{width:96%;height:5rem;border:0;position:relative;padding: 0.1rem 0.3rem 0; }
.items-content a{width:100%;height:100%;border-bottom:1px solid #CCC;display: block; }
.items-content:last-child  a{ border: none; }
.items-content .img{width:4.8rem;text-align: center;padding: 0.2rem;border:0px;height:5rem;position: relative;}
.items-content .img img{width:90%;}


.items-content .text-content{width:60%;padding-top:1rem }
/*.items-content .text-content .title{font-size: 0.65rem;font-weight: normal;line-height: 120%;max-height: 1.5rem;overflow: hidden}*/
.items-content .text-content .title{font-size: 0.65rem;font-weight: normal;line-height: 120%;max-height: 1.5rem;overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

.items-content .text-content .price{font-size: 0.58rem;position: absolute;bottom: 0.8rem;}
.items-content .text-content .price span{color:#FF5000; }
.items-content .tip{position:absolute;display:inline-block;width:0.8rem;height:0.8rem;top:40%;}

.preloader{width: 100%;
    height: 1.5rem;
    text-align: center;
     display: none; 
    font-size: 0.6rem;
    line-height: 1.5rem;}


.his_tpl{
	width:100%;
	height:100%;
	font-size: 0.5rem;
	color: #999999;
	position: absolute;
	top:0;
	z-index: 9;
	background: #efeff4;
	display: none;
}
.his_tpl .title{
	text-indent: 0.4rem;
	font-weight: 900;
	height: 1.2rem;
    line-height: 1.2rem;

}
.his_tpl .tip{
	padding: 0.6rem 0.15rem;
	background-color: #f9f9f9;
}
.his_tpl .tip a{
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	border:1px solid #CCC;
	margin:0.1rem 0.3rem;
	font-size: 0.5rem;
	display: inline-block;
	margin-bottom:0.4rem;
}
.clear-btn{width:100%;height:2rem;text-align: center;line-height: 2rem;}
.his_tpl .search_bar_form{text-align: left}
.his_tpl .search_bar_form input{width:85%;margin-left: 2%;}
.his_tpl .search_bar_form .search-cancel-btn{color: #FFFFFF;margin-left:3%;}
.his_tpl .search_bar_items{padding: 0.48em 0.25em 0.3rem;}

#moverTop {
	bottom: 1rem;
	right: 0.2rem;
	width: 2.6rem;
	height: 2.6rem;
	display: block;
	position: fixed;
	opacity: 0.8;
	border-radius: 50%;
	border: 1px;
        z-index: 999;
	background: url(../img/iconbg.png) no-repeat;
	background-position:5px -20px;
}
/*全部分类搜索*/

.search_bar{
    background-color: #ff5000;
    width: 100%;
    height: 33px;
    padding: 5px 0;
    display: -webkit-box;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
}
.search_bar .search_bar_form{
	width:94%;
	height:33px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	text-align: center;
	border-radius: 5px;
	background: #FFF;
}

.search_bar .search_bar_form .tip{
	dispaly:block;
	width:30px;
	height:30px;
	position: absolute;
	background: url(../img/iconbg.png) no-repeat;
	background-position: 7px 7px
}
.search_bar .search_bar_form form{
	height: 28px;
	width: 96%;
}
.search_bar .search {
	margin-left:30px;
	margin-bottom:2px;
    width: 90%;
    font-size: 14px;
    height: 26px;
    border: 0px;
    padding: 0px 0px 2px;
}
.d_tab {
	width: 100%;
	height: 1.8rem;
	position: relative;
	border-bottom: 1px solid #CCC;
}

.d_tab li {
	width: 50%;
	float: left;
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.8rem;;
	color: #999999;
	background-color: #EEEEEE;
	position: relative;
	font-weight: 600;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #FF5000;
	position: absolute;
	bottom: 0;
	left: 45%;
}

.d_bor_active {
	border-color: #FF5000 !important;
	color: #333333!important;
}

.d_wrap {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.xtab-underline {
				width: 50%;
				display: block;
				height: .1rem !important;
				;
				position: absolute !important;
				background: #Ff5000;
				bottom: 0;
				left: 0;
				z-index: 9;
				-webkit-transition: all .3s ease;
			}
			
.xtab-underline:before {
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: -0.3rem;
	left: 3.75rem;
	border-left: 0.25rem solid transparent;
	border-right: 0.25rem solid transparent;
	border-bottom: 0.4rem solid #ff5000;
}
.d_left {
	width: 25%;
	float: left;
	background: #EEEEEE;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.d_left li {
	width: 99%;
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 0.58rem;
	color: #666666;
	overflow: hidden;
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.d_active {
	color: #FF5000 !important;
	background-color: #FFFFFF;
	border-right: none !important;
}

.d_footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 5;
	background-color: #FFFFFF;
	border-top: 1px solid #c0c0c0;
	padding: 0.1rem 0 0.2rem;
}



.d_footer a{
	text-align: center;
	color: #666666;
	font-size: 0.5rem;
	display: inline-block;
	width: 31%;
	    vertical-align: -webkit-baseline-middle;
 
}
.d_footer a p:last-child{
	line-height: 95%;
 	font-size:0.48rem;
 	font-weight: bold;
}



.d_right {
	width: 74%;
	margin-left: 1px;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.d_right li {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.d_right li:first-child {
	margin-top: 0.6rem;
	margin-bottom: 0.3rem;
}

.d_right li h3 {
	font-size: 0.57rem;
	text-indent: 0.6rem;
	color: #333333;
}
.d_right .category{
	padding: 0.2rem 0.2rem 0.1rem;
}

.d_right .category_list{
	text-align: center;
    font-size: 0.5rem;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #666666;
    padding: 0.1rem 0.5rem;
	margin:0.24rem 0.3rem;
	display: inline-block;
	float: left;
}
.d_right .category_img{
	width: 31%;
	text-align: center;
	display: inline-block;
    line-height: 0.6rem;
    margin-bottom: 0.85rem;
}

.d_right .category_img label{
	font-size: 0.48rem;
	display: inline-block;
	color: #333333;
}

.d_title {
	text-align: center;
	font-size: 12px;
	border: 1px solid #C0C0C0;
	border-radius: 13px;
	height: 25px!important;
	line-height: 25px!important;
	color: #666666;
	padding: 0.1em 1em;
}

/*订单详情*/

.swiper-container {
	width: 100%;
	height: 17rem;
}

.swiper-slide {
	text-align: center;
	font-size: 0.7rem;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	width: 95%;
}

/*商品详情改版2016-5-16*/
.item-content {padding: 0.2rem 0.6rem;font-size: 0.6rem;color: #333333;border-bottom: 1px solid #CCC;}
.item-content .item-content-top{border-bottom: 1px solid #CCC;padding: 0.4rem 0;}
.item-content .item-content-top .dec{height:1.2rem;}
.item-content .item-content-top .dec span{display: inline-block;}
.item-content .item-content-top .sign-price-title{margin-right:0.2rem;}
.item-content .item-content-top .sign-price-num{height:1.2rem;color: #ff5000;font-size: 0.85rem;vertical-align:middle;margin-right:0.2rem;}
.item-content .item-content-top .market-price-title{color: #999999;margin-right:0.1rem;}
.item-content .item-content-top .market-price-num{text-decoration:line-through;color: #999999;font-size: 0.58rem}
.item-content .item-content-top .first-discount{color: #ff5000; text-indent: -0.3rem;height:1rem;line-height: 1rem;}

.item-content .title-tip{width:100%;height: 1.4rem;overflow: hidden;margin:0.7rem 0;}
.item-content .title-tip img{width:21%;margin: 0 0.5rem 0 0;display: inline-block;position: absolute;}
.item-content .title-tip p{width: 75%;dispaly:inline-block;font-size: 0.6rem;margin-left:25%;overflow: hidden;line-height: 120%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

.item-content .des-word{color: #666666;font-size: 0.6rem;margin: 0.1rem 0 0.5rem;line-height: 170%;}
.item-content .prompt{height: 1rem;font-size: 0.6rem;color: #ec5050;border-top: 1px solid #CCC;float: left;width:20%;padding: 0.4rem 0;overflow: hidden;}
.item-content .prompt img{vertical-align:middle;width:25%;margin-right:0.2rem;}
.item-content .des{height:1.2rem;border-top:1px solid #CCC;padding: 0.4rem 0; overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;color:#ec5050;}
.item-des-content{padding: 0.2rem 0.6rem;font-size: 0.6rem;border-top: 1px solid #CCC;}
.item-des-content .details-des-tip{height: 2rem;width:100%;font-size: 0.6rem;color: #333333;line-height:2rem;border-bottom: 1px solid #CCC;}
.item-des-content .details-des-tip img{vertical-align:middle;width:2%;margin-right:0.5em;}

.item-des-content .details-des{margin: 0.4rem 0 0.3rem;}
.item-des-content .details-des p{height:1.2rem;text-align: left;line-height: 1.2rem;}
.item-des-content .details-des p span{display: inline-block;}
.item-des-content .details-des .tip{width:35%;color: #333333;}
.item-des-content .details-des .name{width:60%;color: #666666;}

.d_wrap1 {
	width: 95%;
	margin: 0 auto;
	height: auto;
	margin-top: 15px;
	margin-bottom: 10px;
	overflow: hidden;
}

.d_wrap1 img {
	width: 85px;
	float: left;
	margin-right: 6px;
}

.d_show {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 52px;
	font-size: 0.5rem;
}

.d_show img {
	width: 100%;
	display: inherit;
}

.d_footer1 {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	font-size: 0.55rem;
	border-top: 1px solid #CCCCCC;
	z-index: 5;
}
.d_footer1 #submit-btn {
	line-height: 2.2rem;
	text-align: center;
	font-size: 0.6rem;
	color: #fff;
	display: block;
	background-color: #FF5000;
}

.d_footer1 .btn{
	line-height: 2.2rem;
	text-align: center;
	font-size: 0.6rem;
	color: #fff;
	display: block;
	background-color: #FF5000;
}

.d_footer1 #d_tijiao {
	float: left;
	width: 50%;
	line-height: 52px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	display: block;
	background-color: #FF5000;
}

.d_f2 {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 51px;
	font-size: 14px;
}

.d_f2 span {
	font-size: 16px;
}
.d_fl li{
	height:2.2rem;
	float: left;
	width:25%;
	text-align: center;
	color: #666666;
}
.d_fl li:last-child{
	float: left;
	width:50%;
}
.d_fl li a{
	display: inline-block;
	height:2.2rem;
	padding: 0.3rem;
}
.d_fl li:last-child a{
	padding: 0;
}
.d_reset1 {
	border-bottom: 1px solid #CCCCCC;
	width: 95%;
	margin: 10px;
	padding: 10px 0px;
	margin-top: 5px;
}

.d_reset2 {
	width: 95%;
	border-bottom: 1px solid #CCCCCC;
	margin:0 auto;
	padding: 10px 0;
}

.d_guige {
margin-left:10px;
	color: #333333!important;
}

.d_small {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	font-size: 14px;
	color: #999999;
	margin: 15px 0;
	padding: 10px 0px;
	text-indent: 15px;
}

.d_tijiao {
	background-color: #FF5000;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	line-height: 50px;
	display: block;
	font-size: 15px;
}
.d_tan {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #FFFFFF;
	z-index: 11;
	display: none;
}

.d_ul2 {
	width: 80%;
	height: auto;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

.d_guanbi {
	width: 30px;
	position: absolute;
	top: 0;
	right: -19%;
	z-index: 12;
}

.d_ul2 li {
	font-size: 14px;
	color: #333;
}

.d_ul2 li:first-of-type {
	margin-bottom: 10px;
}
.d_fenlei {
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #CCCCCC;
}

.d_fenlei>ul {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.d_fenlei>ul>p {
	margin: 10px auto;
	color: #333333;
	font-size: 0.6rem;
}

.d_fenlei>ul li {
	font-size: 0.6rem;
	width: 15%;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	color: #333333;
	text-align: center;
	float: left;
	padding: 0.2rem 0.3rem;
	margin-bottom: 0.4rem;
}

.d_jisuan {
	font-size: 0.6rem;
}

.d_jisuan span {
	margin: 0 0.45rem;
}

.d_jisuan img {
	width: 35px;
	vertical-align: middle;
}

.d_que {
	width: 100%;
	background-color: #FF5000;
	color: #fff!important;
	font-size: 15px;
	text-align: center;
	line-height: 45px;
	display: inline-block;
}

.d_zhe {
	left: 0;
	right: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #666666;
	opacity: 0.7;
	z-index: 3;
	display: none;
	filter: alpha(opacity=70);
}